body {
	min-height: 100%;
	min-width: 100%;
	background-image: url(../assets/images/TimerBackgorund.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.timer-zone {
	height: 30vh;
	width: 50%;
	border-radius: 1500px;
	margin-top: 60vh;
}

.color-orange {
	color: #f9df79;
}

.bg-orange {
	background-color: #f9df79;
}

#milliseconds{
	position: fixed;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	border: none;
	border-radius: 30px;
	color: #FFFFFF;
	text-align: center;
	font-size: 150%;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	height: 10vh ;
	width: 15%;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}